extends layout

block content
  h1 Dynamic Matrix Convert
  form(action="/uploadmatrix" method="post" enctype="multipart/form-data")
    label Dynamic base time mS 动态原始时间
    br
    br
    input(type="number" name="basetime")
    br
    br
    label Dynamic increase time mS 动态每次增加时间
    br
    br
    input(type="number" name="increasetime")
    br
    br
    input(type="file" name="dyn")
    button 上传
