extends layout

block content
  h1= title
  p Hello ! 
  p Welcome to #{title}
  ul
    li 
        a(href='/') Home Page
    li 
        a(href='/allfile') File Catalog
    li 
        a(href='/convert') ATE Dynamic Load Result Convert
